<div>
    <div class="flex pb-4">
        <button type="button" (click)="back()"
            class="text-white bg-teal-600 hover:bg-teal-800 font-medium rounded-lg text-sm px-5 py-2 mr-2 focus:outline-none">Retour</button>
        <h1 class="text-lg my-auto pl-6">Informations de l'enseignement</h1>
    </div>

    <div *ngIf="!waiting && education">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <tr class="bg-white">
                    <th scope="col" class="px-6 py-3">
                        Formation
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['Formation']}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Intitulé
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['Intitulé']}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="bg-white">
                    <th scope="col" class="px-6 py-3">
                        Référence
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['Ref']}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Semestre
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['Semestre']}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="bg-white">
                    <th scope="col" class="px-6 py-3">
                        Statut
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['Statut']}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Effectif
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['Effectif']}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="bg-white">
                    <th scope="col" class="px-6 py-3">
                        Groupe CM
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['grCM']}}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Heure CM
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['h/CM']}}
                    </th>
                </tr>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Groupe TD
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['grTD']}}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Heure TD
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['h/TD']}}
                    </th>
                </tr>
                <tr class="bg-white">
                    <th scope="col" class="px-6 py-3">
                        Groupe TP
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['grTP']}}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Heure TP
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{education['h/TP']}}
                    </th>
                </tr>
            </table>
        </div>
    </div>

    <div class="flex py-4">
        <h1 *ngIf="isAdmin" class="text-lg my-auto pl-6">Enseignants disponibles à l'inscription</h1>
        <h1 *ngIf="!isAdmin" class="text-lg my-auto pl-6">Enseignants inscrits à l'UE</h1>
    </div>

    <div *ngIf="!waiting && education">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <tr class="bg-white">
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prénom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Statut
                    </th>
                    <th *ngIf="isAdmin" scope="col" class="px-6 py-3">
                        Inscription
                    </th>
                </tr>
                <tr *ngFor="let teacher of teachers">
                    <td scope="col" class="px-6 py-4 font-medium text-gray-900"
                        *ngIf="isInList(teacher['_id']) || isAdmin">
                        {{teacher['firstname']}}
                    </td>
                    <td scope="col" class="px-6 py-4 font-medium text-gray-900"
                        *ngIf="isInList(teacher['_id']) || isAdmin">
                        {{teacher['lasname']}}
                    </td>
                    <td scope="col" class="px-6 py-4 font-medium text-gray-900"
                        *ngIf="isInList(teacher['_id']) || isAdmin">
                        {{teacher['email']}}
                    </td>
                    <td scope="col" class="px-6 py-4 font-medium text-gray-900"
                        *ngIf="isInList(teacher['_id']) || isAdmin">
                        {{teacher['status']}}
                    </td>
                    <td *ngIf="isAdmin" class="px-6 py-4 font-medium text-gray-900">
                        <a *ngIf="!isInList(teacher['_id'])" (click)="subscribe(teacher['_id'], education._id)"
                            class="text-left cursor-pointer font-medium text-blue-600 hover:underline mr-4">Inscrire</a>
                        <a *ngIf="isInList(teacher['_id'])" (click)="unsubscribe(teacher['_id'], education._id)"
                            class="text-left cursor-pointer font-medium text-blue-600 hover:underline mr-4">Désinscrire</a>
                    </td>
                </tr>

            </table>
        </div>
    </div>


    <!-- <div *ngIf="!waiting && education" class="bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Formation
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['Formation']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Intitulé
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['Intitulé']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Référence
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['Ref']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Semestre
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['Semestre']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Statut
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['Statut']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Effectif
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['Effectif']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                grCM
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['grCM']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                grTD
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['grTD']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                grTP
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['grTP']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                h/CM
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['h/CM']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                h/TD
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['h/TD']}}</div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                h/TP
            </label>
            <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{education['h/TP']}}</div>
        </div>
    </div> -->

    <div *ngIf="waiting" style="font-size: 34 px; padding: 35vh 0">
        Chargement ...
    </div>
</div>