<div>
    <div class="flex pb-4">
        <button type="button" (click)="back()" class="text-white bg-teal-600 hover:bg-teal-800 font-medium rounded-lg text-sm px-5 py-2 mr-2 focus:outline-none">Retour</button>
        <h1 class="text-lg my-auto pl-6">Informations de l'enseignant</h1>
    </div>

    <div *ngIf="!waiting && teacher" class="bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Prénom
            </label>
            <input [disabled]="!isAdmin" [(ngModel)]="firstname" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Nom
            </label>
            <input [disabled]="!isAdmin" [(ngModel)]="lastname" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Email
            </label>
            <input [disabled]="!isAdmin" [(ngModel)]="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Statut
            </label>
            <select [disabled]="!isAdmin" [(ngModel)]="status" class="cursor-pointer shadow pr-4 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Nombre d'UC à effectuer
            </label>
            <input [disabled]="!isAdmin" [(ngModel)]="nbUC" type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Mot de passe
            </label>
            <input [disabled]="!isAdmin"[(ngModel)]="password" type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div *ngIf="isAdmin" class="flex items-center justify-between">
            <button (click)="save()" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Sauvegarder
            </button>
          </div>
    </div>

    <div>
        <h1 class="py-4">Récapitulatif de l'enseignant</h1>
    
        <div *ngIf="!subscriptions">
            Vous n'êtes inscrit à aucun enseignement.
        </div>
        <table *ngIf="subscriptions" class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Formation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Référence
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Intitulé
                    </th>
                    <th scope="col" class="px-6 py-3">
                        nbCM
                    </th>
                    <th scope="col" class="px-6 py-3">
                        nbTD
                    </th>
                    <th scope="col" class="px-6 py-3">
                        nbTP
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total UC
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b" *ngFor="let subscription of subscriptions">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{subscription.education['Formation']}}
                    </th>
                    <td class="px-6 py-4">
                        {{subscription.education['Ref']}}
                    </td>
                    <td class="px-6 py-4">
                        {{subscription.education['Intitulé']}}
                    </td>
                    <td class="px-6 py-4">
                        {{ subscription.grCM }}
    
                        <br>
                        <br>
                        <hr>
                        <hr>
                        <br>
                        <span class="text-xs font-semibold uppercase">
                            Total UC
                            {{ subscription.grCM * statusUser.heureCM * subscription.education['h/CM']}}
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        {{subscription.grTD}}
                        <br>
                        <br>
                        <hr>
                        <hr>
                        <br>
                        <span class="text-xs font-semibold uppercase">
                            Total UC
                            {{ subscription.grTD * statusUser.heureTD * subscription.education['h/TD']}}
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        {{subscription.grTP}}
                        <br>
                        <br>
                        <hr>
                        <hr>
                        <br>
                        <span class="text-xs font-semibold uppercase">
                            Total UC
                            {{ subscription.grTP * statusUser.heureTP * subscription.education['h/TP']}}
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        {{subscription.grCM * statusUser.heureCM * subscription.education['h/CM'] + subscription.grTD * statusUser.heureTD * subscription.education['h/TD'] + subscription.grTP * statusUser.heureTP * subscription.education['h/TD']}}
                    </td>
                </tr>
            </tbody>
        </table>
    
        <h1 class="py-4 text-xl tracking-widest">Nombre total d'UC pour l'enseignant : {{ totalUC }} / {{ nbUC }}</h1>
    </div>

    <div *ngIf="waiting" style="font-size: 34 px; padding: 35vh 0">
        Chargement ...
    </div>
</div>