<div>
    <h2>Educations</h2>
    <div *ngIf="!waiting">
        <div (click)="onSelect(education['_id'])" *ngFor="let education of educationList" style="background-color: rgb(245, 245, 245);
        padding: 15px; margin-bottom: 20px; border-radius: 15px; box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 0.534);">
            <div  style="display: flex; justify-content: space-between; margin-top: -10px; ">
                <h3>{{education['Formation']}}</h3>
                <h4>{{education['Intitulé']}}</h4>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p>{{education['Ref']}}</p>
                <p>{{education['Semestre']}}</p>
                <p>{{education['Statut']}}</p>
                <p>{{education['Effectif']}}</p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p>{{education['grCM']}} gr. CM</p>
                <p>{{education['grTD']}} gr. TD</p>
                <p>{{education['grTP']}} gr. TP</p>
                <p>{{education['h/CM']}} h/CM</p>
                <p>{{education['h/TD']}} h/TD</p>
                <p>{{education['h/TP']}} h/TP</p>
            </div>
        </div>
    </div>
    
    <div *ngIf="waiting" style="font-size: 34 px; padding: 35vh 0">
        Chargement ...
    </div>
</div>

