<div>
    <h2 class="py-4">Enseignements</h2>
    
    <div *ngIf="!waiting">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Formation
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Référence
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Intitulé
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b" *ngFor="let education of educationList">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{education['Formation']}}
                        </th>
                        <td class="px-6 py-4">
                            {{education['Ref']}}
                        </td>
                        <td class="px-6 py-4">
                            {{education['Intitulé']}}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a *ngIf="!isInList(education['_id'])" (click)="subscribe(education['_id'])" class="cursor-pointer font-medium text-blue-600 hover:underline mr-4">S'inscrire</a>
                            <a (click)="onSelect(education['_id'])" class="cursor-pointer font-medium text-blue-600 hover:underline">Détails</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="waiting" style="font-size: 34 px; padding: 35vh 0">
        Chargement ...
    </div>
</div>